<section class="relative flex justify-center items-center gap-4 h-96">

  <div 
    class="relative w-1/2 h-full bg-cover bg-center rounded-lg shadow-lg"
    style="background-image: url('/assets/images/posters_1.jpg');">
    <div class="absolute inset-0 bg-black opacity-30 rounded-lg"></div>
    <div class="absolute bottom-4 left-4 z-10 text-white">
      <h2 class="text-xl md:text-2xl font-semibold">As melhores editoras para você</h2>
    </div>
  </div>


  <div 
    class="relative w-1/2 h-full bg-cover bg-center rounded-lg shadow-lg"
    style="background-image: url('/assets/images/posters_2.jpg');">
    <div class="absolute inset-0 bg-black opacity-30 rounded-lg"></div>
    <div class="absolute bottom-4 left-4 z-10 text-white">
      <h2 class="text-xl md:text-2xl font-semibold">Kindle em promoção 12x sem juros</h2>
    </div>
  </div>
</section>